<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="/images/navbar-image/burger.png" alt="logo" class="d-inline-block align-text-top" width="30" height="24">
        Hungry
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" href="/partner/dashboard">Partner Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/orders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <h1>{{restaurantName}}</h1>
  <p><strong>Email: {{email}}</strong></p>
  <p><strong>Address: {{address}}</strong></p>
</div>
<hr>
<div class="d-flex">
    {{#if items}}
      {{#each items}}
      <div>
        {{this.itemName}}
        {{this.price}}
      </div>
      {{/each}}
    {{else}}
      <div>no items listed for your restaurant</div>
    {{/if}}
</div>

{{!-- add item modal --}}
<div class="d-grid col-2 mx-auto">
  <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addItemModal">Add Item</button>
</div>
<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/partner/item/add" method="POST" id="additemForm">
          <div class="mb-3">
            <label for="title" class="col-form-label">Title</label>
            <input type="text" name="title" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Description</label>
            <input type="text" name="description" class="form-control" id="description">
          </div>
          <div class="mb-3">
            <label for="price" class="col-form-label">Price</label>
            <input type="number" name="price" class="form-control" id="price">
          </div>
          <div class="mb-3">
            <label for="itemImage" class="col-form-label">Upload Item Image</label>
            <input type="file" name="itemimage" class="form-control" id="itemImage">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<script>

const form = document.getElementById('additemForm')

{{!-- form.addEventListener('submit', (e) => {

  alert('Closing')
  const modal = document.getElementById('addItemModal')

  modal.hide();

}) --}}

</script>
